[Unit]
Description=CuOS: Init (disk resize can take a while)
DefaultDependencies=no
After=local-fs.target
After=local-fs-pre.target
Before=network-pre.target ifupdown-pre.service systemd-hostnamed.service networking.service ssh.service docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/cuos/init.sh
RemainAfterExit=yes

[Install]
WantedBy=local-fs-pre.target
