[Unit]
Description=CuOS: API service
Requires=cuos-api.socket
After=network.target

[Service]
ExecStart=/usr/local/cuos/api.sh input
StandardInput=socket
StandardOutput=socket
StandardError=socket
